<a href="https://colab.research.google.com/github/mneedham/link-prediction/blob/master/01_LinkPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Coding Challenge

In this notebook we're going to do link prediction on an authors and papers graph. We'll be trying to work out which authors are likely to collaborate in future.

In [ ]:
! pip install sklearn matplotlib neo4j pandas

In [90]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

import pandas as pd
from neo4j import GraphDatabase
from collections import Counter
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score

In [2]:
driver = GraphDatabase.driver("bolt://localhost", auth=("neo4j", "neo"))

## Exploring the data

In this section we're going to explore the data and see what we have to work with.

In [3]:
query = """
MATCH (article:Article)
RETURN article.year AS year, count(*) AS count
ORDER BY year
"""

with driver.session() as session:
    result = session.run(query)
    by_year = pd.DataFrame([dict(record) for record in result])
by_year.head()

   count  year
0     19  1958
1     42  1959
2     53  1960
3    166  1961
4    201  1962

## Splitting the train and test data

In this section we're going to split our data into training and test sets to use with a machine learning classifier.

## Choosing a machine learning algorithm

In this section we're going to choose a machine learning algorithm

## Generating graphy features

In this section we're going to generate features for our model

## Evaluating results

In this section we'll evaluate our model.